In [53]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [ ]:
df = pd.read_csv('green_tripdata_2019-10.csv',nrows=100)
df.head()

In [ ]:
df.lpep_pickup_datetime =  pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [54]:
from sqlalchemy import create_engine

In [64]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [65]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [66]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv',iterator=True, sep=",", on_bad_lines='warn',chunksize=50000,low_memory=False)

In [67]:
df = next(df_iter)

In [68]:
len(df)

50000

In [69]:
df.lpep_pickup_datetime =  pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [70]:
df.head(n=0).to_sql(con=engine, name='yellow_taxi_data', if_exists='replace')

0

In [71]:
%time df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')

CPU times: user 4.08 s, sys: 19.9 ms, total: 4.1 s
Wall time: 6.19 s

1000

In [72]:
from time import time

In [73]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime =  pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')
    
    t_end = time()
    
    print(f'Chunk processed in {t_end - t_start} seconds')

Chunk processed in 6.233136177062988 seconds
Chunk processed in 5.6132166385650635 seconds
Chunk processed in 5.86700439453125 seconds
Chunk processed in 5.54887056350708 seconds
Chunk processed in 6.948908090591431 seconds
Chunk processed in 5.838945150375366 seconds
Chunk processed in 6.038534164428711 seconds
Chunk processed in 5.1258625984191895 seconds
Chunk processed in 2.845228910446167 seconds

StopIteration: